<div class="container">
  <div class="row">
    <div class="col">
    
      <h1>Editando Proyecto</h1>

      <%= render 'form', proyecto: @proyecto %>

      <%= link_to 'Mostrar Detalle', @proyecto, class: "btn btn-primary mb-4" %> |
      <%= link_to 'Volver', proyectos_path, class: "btn btn-secondary mb-4" %>
    </div>
  </div>
</div>